apiVersion: v1
kind: PersistentVolume
metadata:
  labels:
    volume: {{ item[0].name }}-{{ item[1].name }}
    namespace: {{ item[0].name }}
  name: {{ item[0].name }}-{{ item[1].name }}
spec:
  accessModes:
  - ReadWriteOnce
  - ReadWriteMany
  - ReadOnlyMany
  capacity:
    storage: {{ item[1].capacity }}
  claimRef:
    name: {{ item[1].name }}
    namespace: {{ item[0].name }}
  hostPath:
    path: "{{ volumes_path }}/{{ item[0].name }}/{{ item[1].name }}"
  persistentVolumeReclaimPolicy: Retain
